{% extends 'base.html' %}
{% block content %}
    {% include 'components/_nav.html' %}
    <body>
    <div class="container pt-5">
        <div class="row">
            <h3 class="pb-3">How it works</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur, culpa delectus
                distinctio, earum eos, explicabo incidunt maiores modi molestias nam nostrum porro provident quas sequi
                similique sit unde voluptas!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur, culpa delectus
                distinctio, earum eos, explicabo incidunt maiores modi molestias nam nostrum porro provident quas sequi
                similique sit unde voluptas!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur, culpa delectus
                distinctio, earum eos, explicabo incidunt maiores modi molestias nam nostrum porro provident quas sequi
                similique sit unde voluptas!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur, culpa delectus
                distinctio, earum eos, explicabo incidunt maiores modi molestias nam nostrum porro provident quas sequi
                similique sit unde voluptas!
            </p>
        </div>
    </div>
    {% include 'components/_footer.html' %}
    </body>

{% endblock %}