{% extends 'base.html' %}

{% block content %}
    {% include 'components/_nav.html' %}

    <body>

    <div class="container pt-5">

        <div class="row">
            <div class="card mb-3 p-0">
                <div class="row g-0">
                    <div class="col-md-4 p-0">
                        <img src="{{ book.image.url }}" alt="..." style="height: 400px; width: 300px">
                    </div>
                    <div class="col-md-8 ">
                        <div class="card-body" style="margin-left: -120px;">
                            <h5 class="card-title p-2">Title: {{ book.title }}</h5>
                            <h6 class="card-subtitle p-2">Author: {{ book.author }}.</h6>

                            <p class="card-text p-2">This book is owned by: {{ owner }} </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'components/_footer.html' %}
    </body>
{% endblock %}