{% extends 'base.html' %}

{% block title %}Bookswap{% endblock %}

{% block content %}

    <body>

    {% include 'components/_nav.html' %}

    <div class="container pt-5">
        <div class="row">
            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                <input class="form-control" type="text" placeholder="Search for title, author" aria-label="Search">
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <div class="row justify-content-between">
            {% for book in books %}

                <div class="card p-0" style="width: 18rem;">
                    <img src="{{ book.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">by {{ book.author }}</h6>
                        <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    </body>


    {% include 'components/_footer.html' %}
{% endblock %}