{% extends 'base.html' %}

{% block title %}Bookswap{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
            <h1>Hello {{ user.username }}!</h1>
            <p><a href="{% url 'logout' %}" class="btn btn-danger">Log Out</a></p>

        {% else %}

        <p>You are not logged in</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>

    {% endif %}
                 <h3>Books</h3>
            {% for book in books %}
                <ul>
                    <li><h5>{{ book.title }} by {{ book.author }}</h5></li>
                </ul>

            {% endfor %}



{% endblock %}